<h1>All Bulk Discounts</h1>
<% @discounts.each do |discount| %>
  <section class="discount_id_<%= discount.id %>">
  <ul>
    <h3><%= link_to discount.id, merchant_bulk_discount_path(@merchant, discount) %></h3>
    <li>Threshold: <%= discount.threshold %></li>
    <li>Discount: <%= discount.discount %>%</li>
  </ul>
  </section>
<% end %>
<%= link_to "Create New Discount",  new_merchant_bulk_discount_path(@merchant)%>