<br>
<br>
<h3>Invoice id: <%= @invoice.id %></h3>
<h3>Invoice Status: <%= @invoice.status %></h3>
<h3>Invoice Created Date: <%= @invoice.date_conversion %></h3>
<h3>Customer: <%= @invoice.customer_name %></h3>
<br>
<h3>Items:</h3>
<dl>
<% @items.each do |item| %>
  <section id="item-<%= item.id %>">
    <dt><strong><%= item.name %></strong></dt>
    <dd>Quantity: <%= item.quantity(@invoice.id) %></dd>
    <dd>Unit_Price: <%= item.unit_price %></dd>
    <dd>Status: <%= item.status(@invoice.id) %></dd>
  </section><br>
<% end %>
</dl>