<br>
<br>
<h3>Invoice id: <%= @invoice.id %></h3>
<h3>Invoice Created Date: <%= @invoice.date_conversion %></h3>
<h3>Customer: <%= @invoice.customer_name %></h3>
<h3>Total Revenue Possible: <%= number_to_currency(@invoice.total_revenue) %></h3>
<%= form_with url:"/admin/invoices/#{@invoice.id}", method: :patch, data: {turbo: false} do |form| %>
  <h3><%= form.label :status, "Invoice Status:" %>
  <%= form.select :status, options_for_select(Invoice.statuses.keys, @invoice.status) %>
  <%= form.submit "Update Invoice Status" %>
  </h3>
<% end %>
<br>
<h3>Items:</h3>
<dl>
<% @items.each do |item| %>
  <section id="item-<%= item.id %>">
    <dt><strong><%= item.name %></strong></dt>
    <dd>Quantity: <%= item.quantity(@invoice.id) %></dd>
    <dd>Unit Price: <%= number_to_currency(item.unit_price/100.00) %></dd>
    <dd>Status: <%= item.invoice_status(@invoice.id) %></dd>
  </section><br>
<% end %>
</dl>
<h3>Potential Revenue:</h3>
<section class="revenue">
  <p>Total revenue: <%= @invoice.total_revenue %></p>
</section>
<h3>Revenue with Discounts:</h3>
<section class="discounted_revenue">
  <p>Discounted revenue: <%= @invoice.revenue_with_discounts %></p>
</section>