<h1 class='merchant_header'><%= @merchant.name %></h1>
<section class="merchant_links">
  <%= link_to "Your Items", "/merchants/#{@merchant.id}/items" %>
  <%= link_to "Your Invoices", "/merchants/#{@merchant.id}/invoices" %>
</section>
<h3>Favorite Customers:</h3>
<section class="fav_customers">
  <ul>
  <% @merchant.top_5_customers.each do |customer| %>
  <section class=<%= customer.first_name %>>
    <li>Customer:<%= customer.first_name %> <%= customer.last_name %> : Successful Transactions: <%= customer.successfull_transactions %></li>
  </section>
  <% end %>
  </ul>
</section>

