<h1 class='merchant_header'><%= @merchant.name %></h1>
<section class="merchant_links">
  <%= link_to "Your Items", "/merchants/#{@merchant.id}/items" %>
  <%= link_to "Your Invoices", "/merchants/#{@merchant.id}/invoices" %>
</section>
<h3>Favorite Customers:</h3>
<section class="fav_customers">
  <ul>
  <% @merchant.top_5_customers.each do |customer| %>
  <section class=<%= customer.first_name %>>
    <li>Customer:<%= customer.first_name %> <%= customer.last_name %> : Successful Transactions: <%= customer.success_count%></li>
  </section>
  <% end %>
  </ul>
</section>

<section class="items_ready_to_ship">
  <% @merchant.items_ready_to_ship.each do |item| %>
    <li>Item: <%= item.name %> Invoice: <%= link_to "#{item.invoice_id}", "/merchants/#{@merchant.id}/invoices/#{item.invoice_id}" %></li>
  <% end %>
</section>

