<section class="discount_new_header">
  <h1 style="border-bottom: 2px solid black">Create A New Discount:</h1>
</section>

<section class="create_form">
  <%= form_with url: merchant_discounts_path(@merchant), method: :post, data: { turbo: false } do |form| %>
    <%= form.label :percent %>
    <%= form.text_field :percent %>
    <%= form.label :quantity_threshold %>
    <%= form.text_field :quantity_threshold %>
    <%= form.submit "Submit" %>
  <% end %>
</section>