<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1>
      <image style="
        width: 300px; 
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;" 
        src=<%= Unsplash::Photo.find("RExJCExg5U8")[:urls][:raw] %>>
      </image>
  </h1>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
